body {
    padding: 0;
    margin: 0;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
}

form {
    position: absolute;
    top: 50%;   
    left: 40%;
    width: 470px;
    height: 350px;
    transform: translate(-50%, -50%);
    background: hsl(244, 38%, 16%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#img1 {
    position: absolute; 
    left: 100%;
    width: 470px;
    height: 350px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    position: absolute; 
    top: 3%;
    left: 7%;
    color: hsl( 0, 0%, 100%);
    font-weight: 400; 
    font-weight: 700; 
    
}


.highlight {
 color: hsl(277, 64%, 61%);
}

#h22 {
    position: absolute; 
    top: 13%;
    left: 7%;
    color: hsl( 0, 0%, 100%);

}


#sub1 {
    position: absolute; 
    top: 36%;
    left: 7%;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
}

#sub2 {
    position: absolute; 
    top: 42%;
    left: 7%;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
}

#sub3 {
    position: absolute; 
    top: 48%;
    left: 7%;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
}

#tx1 {
    position: absolute; 
    top: 75%;
    left: 10%;
    color: hsl( 0, 0%, 100%);
    font-weight: 400; 
    font-weight: 700; 
    font-size: 20px;
}


#tx2 {
    position: absolute; 
    top: 75%;
    left: 35%;
    color: hsl( 0, 0%, 100%);
    font-weight: 400; 
    font-weight: 700; 
    font-size: 20px;

}       

#tx3 {
    position: absolute; 
    top: 75%;
    left: 60%;
    color: hsl( 0, 0%, 100%);
    font-weight: 400; 
    font-weight: 700; 
    font-size: 20px;
}


#wd1 {
    position: absolute; 
    top: 85%;
    left: 10%;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 10px;
    font-weight: 400;

}

#wd2 {
    position: absolute; 
    top: 85%;
    left: 35%;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 10px;
    font-weight: 400;
}

#wd3 {
    position: absolute; 
    top: 85%;
    left: 60%;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 10px;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;

}

